{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}


<style>
    header img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        filter: brightness(.4);
        background-attachment: fixed;
    }


    section {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-family: 'Poppins';
    }
</style>
<div class="homepage">

    <body>



        <header>

            </section>
            <img src="https://images.pexels.com/photos/3639507/pexels-photo-3639507.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Five developers at work.">
            <section>
                <h1 class="animated fadeInUp delay-1s" style="font-size: 30px;">Welcome to</h1>
                <h2 class="animated fadeInUp delay-2s" style="font-size: 80px; font-weight: 900;"> Defaulters</h2>

             <a href="#about"  > <i class="fas fa-arrow-circle-down animated fadeInUp delay-3s" style="font-size: 3rem; padding-top:200px;padding-left: 100px;"></i></a>

            </section>

        </header>
      <br>
      <br>
      <br>
        <div class="about" id="about">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h3 style="text-align: center; font-size: 50px; font-weight: 400; font-family:'Poppins'  "> About</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati voluptatibus aliquam nulla
                        cupiditate, vel nostrum saepe libero ad quos quas veritatis deserunt reiciendis corporis,
                        laboriosam cum beatae numquam ratione sunt?</p>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>

    </body>

</div>


<!-- </div> -->




{% endblock %}