{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}


<style>
    header img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        filter: brightness(.4);
    }


    section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-family: 'Roboto', sans-serif;
    }
</style>
<div class="homepage">

    <body>



        <header>

            </section>
            <img src="https://images.pexels.com/photos/3639507/pexels-photo-3639507.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Five developers at work.">
            <section>
                <h1>Heading</h1>
                <h2>Just another tech blog.</h2>
              
            </section>

        </header>

        <div class="about">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati voluptatibus aliquam nulla
                        cupiditate, vel nostrum saepe libero ad quos quas veritatis deserunt reiciendis corporis,
                        laboriosam cum beatae numquam ratione sunt?</p>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>

    </body>

</div>


<!-- </div> -->




{% endblock %}