<link href="https://fonts.googleapis.com/css?family=Poppins:900i&display=swap" rel="stylesheet">
{% load static %}
{% load bootstrap4 %}

<style>
    a{
        color: white;
    }
    a:hover{
        color: white;
        text-shadow: 0 60px 55px 0 rgba(0, 0, 0, 0.2);
    }
</style>

<nav class="navbar navbar-expand-lg " style="font-family:'Poppins'; background-color: #323031;color: white;" >
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'business'%}" >Businesses</a>
            </li>
            <li class="nav navbar-nav navbar-right">
                <form class="navbar-form" role="search" action="{% url 'search_results'%}">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search For Business? " name="business">
                    </div>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'defaulters'%}">Defaulters</a>
            </li>

            <li class="nav navbar-nav navbar-right">
                <form class="navbar-form" role="search" action="{% url 'search_defaulters'%}">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Find defaulter? " name="defaulter">
                    </div>
                </form>
            </li>

            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'my-profile'%}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'update-profile' %}">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>

            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts/login">Sign In</a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>