{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}



{% block content %}
<div class="container" style="margin-top:15px;">
    <div class="text-center">
        <a href="{% url 'new-defaulter' %}">
            <button class="btn btn-primary" style="height:50px;  margin-top: -6px;margin-bottom:10px;">Click To Add A
                Defaulter</button>
        </a>
    </div>

    <table class="table table-light" style="font-family:'Poppins'; border-radius: 15px; height: 40px; ">
        <thead>
            <tr style="color: black;">
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Id Number</th>
                <!-- <th scope="col">Posted by</th> -->
                <th scope="col">From Date </th>
                <th scope="col">To Date </th>
                <th scope="col">Amount </th>


            </tr>
        </thead>
        <tbody>
            {% for defaulter in defaulters%}
            <tr data-toggle="modal" data-target="#{{defaulter.id}}">
                <td>{{defaulter.id}}</td>
                <td>{{defaulter.name}}</td>
                <td>{{defaulter.phone_number}}</td>
                <td>{{defaulter.id_number}}</td>
                <!-- <td>{{defaulter.username}}</td> -->
                <td>{{defaulter.from_date|date:"M d, Y"}}</td>
                <td>{{defaulter.to_date|date:"M d, Y"}}</td>
                <td>{{defaulter.amount}}</td>

            </tr>
            <!-- Modal -->
            <div class="modal fade" id="{{defaulter.id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content text-center">
                        <div class="modal-header text-center">
                            <h3 class="text-center" style="text-transform: uppercase; font-family: 'Poppins';">Name : {{defaulter.name}} </h3>
                        </div>
                        <div class="modal-body">
                            <p class="pmodal">{{defaulter.defaulter|safe}}</p>
                            <img class="card-img-top" style="height: 10%; width: 50%;"  src="{{defaulter.image.url}}">

                        </div>
                        <div class="modal-footer" style="display:block; font-family: 'Poppins';">
                            <p><span style="font-weight:bold;">Next Of Kin Name:</span> {{defaulter.Next_Of_Kin_Name}}</p>
                            <p><span style="font-weight:bold;">Next Of Kin Relationship:</span> {{defaulter.Next_Of_Kin_Relationship}}</p>
                            <p><span style="font-weight:bold;">Next Of Kin Number:</span>{{defaulter.Next_Of_Kin_Phone_Number}}</p>
                            <p><span style="font-weight:bold;">Neighbourhood:</span>{{defaulter.neighbourhood}}</p>
                            <p><span style="font-weight:bold;">House:</span>{{defaulter.house}}</p>
                        </div>
                    </div>
                </div>
            </div>





            {% endfor%}
        </tbody>
    </table>
</div>
<!-- <style>
    table {
        width: 1000px;
    }
</style> -->





























{% endblock %}